*{margin: 0;padding: 0;}

.header{width: 640px;margin: 0 auto;overflow: hidden;border: 1px solid red;height: 100px;}
.header p{text-align: center;line-height: 100px;font-size: 30px;}


.nav{width: 640px;margin: 0 auto;overflow: hidden;border: 1px solid gold;}
.nav ul{list-style-type: none;display: flex;justify-content: center;}
.nav ul li{padding: 30px 40px;}


.main{width: 640px;margin: 0 auto;overflow: hidden;height: 500px;border: 1px solid greenyellow;}
